Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: java5-runtime-headless | java5-runtime | java6-runtime-headless | java6-runtime | java7-runtime-headless | java7-runtime
Maintainer: Matthew Hunter <matthew@infodancer.org>
Description: An infodancer xmlrpc package with various utility functions for web applications using xmlrpc
Distribution: development